<a href="/auth/google">With Google</a>
or <br>
<form action="/auth/login" method="POST">
  <input type="text" name="email">
  <input type="password" name="password">
  <input type="submit" value="Log In!">
</form>
or <br>
<a href="/auth/register">Register</a> <br>
