<section class="registro">
<img src="/images/comedoor-logo.png" width="250px">
<h2>Registro</h2>
<form action="/auth/register" method="POST">
  {{#if error}}
    <p class="alert alert-danger">{{error}}</p>
  {{/if}}
  <input type="text" name="name" placeholder="name" required>
  <input type="text" name="email" placeholder="email" required>
  <input type="password" name="password" placeholder="password" required>
  <input type="password" name="confirm_password" placeholder="confirm password" required>
  <input type="submit" value="Register" class="inic">
</form>
- o - <br>
<a href="/auth/login">Log In!</a>
</section>