<section style="display: flex; flex-direction: column; justify-content: center;width:100vw;">
    <nav class="navbar navbar-dark" style="background-color: #ffbd3b;">
    <a href="/" class="navbar-brand">
      <img src="/images/comedoor-logo.png" width="150px">
    </a>

  </nav>
  <div><img src="/images/profile.png" alt="" width="500"></div>
</section>